In [1]:
import pandas as pd
df = pd.read_csv("../data/creditcard.csv")

In [2]:
data_unseen = df.sample(frac=0.1, random_state=42)     
df = df.drop(data_unseen.index)                       

df.reset_index(drop=True, inplace=True)
data_unseen.reset_index(drop=True, inplace=True)

In [3]:
from pycaret.classification import *

df_proccess = setup(data=df, 
target = 'Class',
polynomial_features=True, 
fix_imbalance = True)

TypeError: setup() got an unexpected keyword argument 'fix_imbalance'

In [13]:
top5 = compare_models(sort = 'F1')

In [14]:
linearda = create_model("lda", fold=10)
tuned_top_1 = tune_model(linearda,optimize = 'F1')

      Accuracy     AUC  Recall   Prec.      F1   Kappa
0       0.9989  0.9825  0.3333  1.0000  0.5000  0.4996
1       0.9994  0.8998  0.7500  1.0000  0.8571  0.8569
2       0.9989  0.9997  1.0000  0.6000  0.7500  0.7495
3       1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
4       0.9983  0.6629  0.3333  0.5000  0.4000  0.3992
5       1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
6       0.9994  1.0000  1.0000  0.7500  0.8571  0.8569
7       0.9989  0.9989  0.6667  0.6667  0.6667  0.6661
8       1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
9       1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
Mean    0.9994  0.9544  0.8083  0.8517  0.8031  0.8028
SD      0.0006  0.1016  0.2637  0.1907  0.2090  0.2092

SystemExit: (Value Error): Estimator Not Available. Please see docstring for list of available estimators.

In [17]:
et = create_model("et", fold=10)
tuned_top_2 = tune_model(et,optimize = 'F1')

      Accuracy     AUC  Recall   Prec.      F1   Kappa
0       0.9989  0.8242  0.3333  1.0000  0.5000  0.4996
1       0.9989  0.8715  0.5000  1.0000  0.6667  0.6662
2       0.9989  0.9994  0.6667  0.6667  0.6667  0.6661
3       1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
4       0.9989  0.8287  0.3333  1.0000  0.5000  0.4996
5       0.9994  1.0000  0.6667  1.0000  0.8000  0.7997
6       1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
7       0.9989  0.8292  0.6667  0.6667  0.6667  0.6661
8       0.9994  1.0000  0.6667  1.0000  0.8000  0.7997
9       1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
Mean    0.9993  0.9353  0.6833  0.9333  0.7600  0.7597
SD      0.0005  0.0800  0.2409  0.1333  0.1837  0.1839

SystemExit: (Value Error): Estimator Not Available. Please see docstring for list of available estimators.

In [18]:
egb = create_model("xgboost", fold=10)
tuned_top_3 = tune_model(egb,optimize = 'F1')

      Accuracy     AUC  Recall   Prec.      F1   Kappa
0       0.9989  0.9706  0.3333  1.0000  0.5000  0.4996
1       0.9989  0.9636  0.5000  1.0000  0.6667  0.6662
2       0.9989  0.9993  0.6667  0.6667  0.6667  0.6661
3       1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
4       0.9983  0.9899  0.3333  0.5000  0.4000  0.3992
5       0.9994  1.0000  0.6667  1.0000  0.8000  0.7997
6       1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
7       0.9989  0.9998  0.6667  0.6667  0.6667  0.6661
8       0.9994  0.9996  0.6667  1.0000  0.8000  0.7997
9       1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
Mean    0.9993  0.9923  0.6833  0.8833  0.7500  0.7497
SD      0.0006  0.0130  0.2409  0.1833  0.1996  0.1998

SystemExit: (Value Error): Estimator Not Available. Please see docstring for list of available estimators.

In [19]:
ridgecl = create_model("ridge", fold=10)
tuned_top_4 = tune_model(ridgecl,optimize = 'F1')

      Accuracy  AUC  Recall   Prec.      F1   Kappa
0       0.9989  0.0  0.3333  1.0000  0.5000  0.4996
1       0.9983  0.0  0.2500  1.0000  0.4000  0.3995
2       0.9989  0.0  0.6667  0.6667  0.6667  0.6661
3       1.0000  0.0  1.0000  1.0000  1.0000  1.0000
4       0.9983  0.0  0.3333  0.5000  0.4000  0.3992
5       1.0000  0.0  1.0000  1.0000  1.0000  1.0000
6       1.0000  0.0  1.0000  1.0000  1.0000  1.0000
7       0.9989  0.0  0.6667  0.6667  0.6667  0.6661
8       0.9994  0.0  0.6667  1.0000  0.8000  0.7997
9       1.0000  0.0  1.0000  1.0000  1.0000  1.0000
Mean    0.9993  0.0  0.6917  0.8833  0.7433  0.7430
SD      0.0007  0.0  0.2888  0.1833  0.2395  0.2397

SystemExit: (Value Error): Estimator Not Available. Please see docstring for list of available estimators.

In [20]:
rfc = create_model("rf", fold=10)
tuned_top_5 = tune_model(rfc,optimize = 'F1')

      Accuracy     AUC  Recall   Prec.      F1   Kappa
0       0.9989  0.6661  0.3333  1.0000  0.5000  0.4996
1       0.9989  0.8743  0.5000  1.0000  0.6667  0.6662
2       0.9983  0.9976  0.3333  0.5000  0.4000  0.3992
3       1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
4       0.9989  0.8314  0.3333  1.0000  0.5000  0.4996
5       0.9994  1.0000  0.6667  1.0000  0.8000  0.7997
6       1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
7       0.9989  0.8328  0.6667  0.6667  0.6667  0.6661
8       0.9994  0.9990  0.6667  1.0000  0.8000  0.7997
9       1.0000  1.0000  1.0000  1.0000  1.0000  1.0000
Mean    0.9993  0.9201  0.6500  0.9167  0.7333  0.7330
SD      0.0006  0.1095  0.2630  0.1708  0.2124  0.2126

SystemExit: (Value Error): Estimator Not Available. Please see docstring for list of available estimators.

In [22]:
blended_model = blend_models(estimator_list=[tuned_top_1,tuned_top_2,tuned_top_3,tuned_top_4,tuned_top_5])
predict_model(blended_model)

NameError: name 'tuned_top_1' is not defined

In [ ]:
plot_model(blended_model,'confusion_matrix')

In [ ]:
plot_model(blended_model,'pr')

In [ ]:
from pycaret.utils import check_metric

unseen_predictions = predict_model(blended_model, data=data_unseen)
print(check_metric(unseen_predictions.Class, unseen_predictions.Label, 'AUC'))
print(check_metric(unseen_predictions.Class, unseen_predictions.Label, 'F1'))
print(check_metric(unseen_predictions.Class, unseen_predictions.Label, 'Recall'))
print(check_metric(unseen_predictions.Class, unseen_predictions.Label, 'Precision'))

In [ ]:
save_model(blended_model, "../models/model")